@font-face {
  font-family: 'ZenMaruGothicRegular';
  src: url('fonts/ZenMaruGothic-Regular.ttf');
}

body{
  font-family: "ZenMaruGothicRegular";
  background-color: #cee4ae;
  text-align: center;
}

input{
  font-family: "ZenMaruGothicRegular";
  font-size: 20px;
  padding:7px 10px 7px 10px;
  background-color: #a0d8ef;
  border: 0px solid;
  border-radius: 13px;
}
input[type="text"]:focus {
  border: 2px solid white;
  outline: 0;
}
::placeholder{
  color:#eaedf7;

}

button{
  font-family: "ZenMaruGothicRegular";
  font-size: 20px;
  padding:7px 10px 7px 10px;
  background-color: #2ca9e1;
  color:white;
  border: 0px solid;
  border-radius: 13px;
}

canvas{
  border-radius: 10%;
}