@font-face {
  font-family: 'ZenMaruGothicRegular';
  src: url('fonts/ZenMaruGothic-Regular.ttf');
}

body{
  font-family: "ZenMaruGothicRegular";
  background-color: #cee4ae;
}

#imageContainer{
    width:60vw;
    /* height: 35vw; */
    /* position: relative; */
  }